body img {
  width: 80px;
}

.main{
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.enemylimit {
  height: 150px;
}

.playerbox{
  height:130px
}

.playerbox h3{
  text-align: center;
  /* margin-bottom: 0px; */
  margin-right: 70px;
}